* {
    box-sizing: border-box;
}
body {
 background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(media/arma_3_bg.jpg); 
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 overflow: auto;
}
h1 {
    font-family: purista-web, sans-serif;
    color:#FFB300;
}
h2 {
    font-family: purista-web, sans-serif;
    color:#FFB300;
    font-size: 32pt;
}
p {
    font-family: purista-web, sans-serif;
    color:#E6E6E6 ;
}
/* img { max-width: 100%; height:auto; }

@media ( max-width:900px) {
    .grid-container,
    .grid-container2{
        grid-template-columns: 1fr;
    }
    .grid-items:has(> br:only-chlid) {
        display: none;
    }
    .nav-tab {
        position: static;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }
    body {
        background-attachment: scroll;
    }
} */
.grid-container{
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
} 
.grid-container2 {
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
}
.grid-items{
    gap: 10px;
    padding:10px;
    justify-self: center;
}
.nav-tab a{
    justify-content: center;
    padding: 10px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    color:#FFB300;
    border-radius: 8px;
    font-family: purista-web, sans-serif;
    font-weight: bold;
    box-shadow: 5px 5px 9px black;
    border: 1.6px solid #E6E6E6;
}
#arma-3-logo {
    max-width: 300px;
    height: auto;
}
#gameplayvideo {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    height: auto;
    border: 4px solid #d4a94c;
    border-radius: 8px;
}
#omarma {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    padding: 10px;
    border-radius: 10px;
    border: 1.6px solid #E6E6E6;
 
}
.nav-tab {
    position: fixed;
    top: 175px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 999;
}
#dance{
    justify-content: center;
    padding: 10px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    color:#FFB300;
    border-radius: 8px;
    font-family: purista-web, sans-serif;
    font-weight: bold;
    box-shadow: 5px 5px 9px black;
    border: 1.6px solid #E6E6E6;
    text-align: center;
}
#tekst {
    font-size: 16pt;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    padding: 10px;
    border-radius: 10px;
    border: 1.6px solid #E6E6E6;
}
